In [1]:
import pymongo
import pandas as pd
from pymongo import MongoClient

In [6]:
client = MongoClient()
# docker inspect 5cc72d4ba8c2
#point the client at mongo URI
client = MongoClient('172.22.0.2',27017)
# client = MongoClient(mongodb,27017)
#select database
db = client['student']
#select the collection within the database
test = db.grades
#convert entire collection to Pandas dataframe
test = pd.DataFrame(list(test.find()))

In [7]:
test

                        _id      name  grade  telephone
0  64656cd842b78f6365618050      raul     30        NaN
1  64656d0742b78f6365618051      paul     55  1234567.0
2  64656e0e42b78f6365618052   charles     88        NaN
3  64656f2342b78f6365618055      fifi     99        NaN
4  64656f2342b78f6365618056  pinochio     75        NaN